<div class="menu-item">
  <button mat-button class="accent" [routerLink]="'/' + UrlsEnum.Viewer"> Viewer</button>

  <div class="buttons">
    @for (profile of profileSettings(); track profile.index) {
      <button mat-button
              (click)="goToView(profile)"
      >
        {{ profile.label }}
      </button>
    }
  </div>
</div>

<div class="menu-item">
  <button mat-button class="accent" [routerLink]="'/' + UrlsEnum.Learn"> Learn</button>

  <div class="buttons">
    @for (deck of learningDecks(); track deck) {
      <button mat-button
              (click)="goToDeck(deck)"
      >
        {{ deck }}
      </button>
    }
  </div>
</div>

<div class="menu-item">
  <button mat-button class="accent" [routerLink]="'/' + UrlsEnum.Settings"> Settings</button>
</div>

<div class="menu-item link">
  <a href="https://github.com/andrew2020wit/anki-viewer" target="_blank"> GitHub </a>
</div>
