:host {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  margin: 200px auto 100px auto;
  max-width: 600px;

  .menu-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    height: fit-content;

    &.link {
      margin-left: 16px;
    }

    .buttons {
      display: flex;
      gap: 8px;
    }
  }
}
