@if (!ankiCard()) {
  <div class="empty-block">
    <a [routerLink]="'/' + UrlsEnum.Viewer"> Viewer </a>
    <br/>
    <br/>
  </div>
}

@if (ankiCard()) {
  <div class="card">
    <div class="term-block">
      <span class="timer-block">
        <span class="timer-counter"> {{ timerCounter() }} </span>
        <span class="timer-value"> {{ timerTimeMin() }} </span>
      </span>

      <span class="cards-number">
        {{ learningCardsNumber() }} :
        {{ cardsNumber() }}
      </span>

      <span class="card-type" [class.review]="ankiCardTypes[ankiCard()?.type || 9] === 'review'">
        {{ ankiCardTypes[ankiCard()?.type || 9] }} :
      </span>

      <span class="term" [innerHTML]="ankiCard()?.fields?.term?.value"> </span>

      <span class="pos"> ({{ ankiCard()?.fields?.pos?.value }}) </span>

      <span class="register-lab" [innerHTML]="ankiCard()?.fields?.registerlab?.value"> </span>

      @if (ankiCard()?.fields?.phVerb?.value || ankiCard()?.fields?.lexunit?.value) {
        <div class="lex-unit">
          @if (ankiCard()?.fields?.phVerb?.value) {
            <span class="ph-verb">
              {{ ankiCard()?.fields?.phVerb?.value }}
            </span>
          }
          @if (ankiCard()?.fields?.lexunit?.value) {
            <span class="lex-unit" [innerHTML]="ankiCard()?.fields?.lexunit?.value"> </span>
          }
        </div>
      }
    </div>

    <div class="example" [innerHTML]="ankiCard()?.fields?.exampleText?.value"></div>

    @if (showBackSide()) {
      <div class="term-extra">
        <span class="transcription" [innerHTML]="ankiCard()?.fields?.transcription?.value | transcription"> </span>

        <span class="freq">
          <span> {{ ankiCard()?.fields?.freq?.value }} </span>
          <span> {{ ankiCard()?.fields?.freq2?.value }} </span>
        </span>
      </div>

      <div class="definition" [innerHTML]="ankiCard()?.fields?.def?.value"></div>

      @if (ankiCard()?.fields?.translation?.value) {
        <div class="translation" [innerHTML]="ankiCard()?.fields?.translation?.value"></div>
      }

      <div class="next-reviews" [class.review]="ankiCardTypes[ankiCard()?.type || 9] === 'review'">
        <span [class.was-last]="lastAnswer() === 1">{{ ankiCard()?.nextReviews?.[0] }} </span>

        <span [class.was-last]="lastAnswer() === 2">{{ ankiCard()?.nextReviews?.[1] }} </span>

        <span [class.was-last]="lastAnswer() === 3" class="normal">{{ ankiCard()?.nextReviews?.[2] }} </span>
        <span [class.was-last]="lastAnswer() === 4">{{ ankiCard()?.nextReviews?.[3] }} </span>
      </div>
    }
  </div>
}

<!--@if (isLoading()) {-->
<!--  <div class="loader"></div>-->
<!--}-->

<div class="bottom">
  <div class="bottom-line">
    <a routerLink="/"> Home </a>
    <a [routerLink]="'/' + UrlsEnum.Viewer"> Viewer </a>


    <span class="hints">
      Space - show extra, 1-again, 2-hard, 3 (or enter) -normal, 4-ease.

      <br/>
<span> Deck: {{ ankiCard()?.deckName }} </span> |
      R - replay sound.
      z - restore.
      ForgetCard - 0.
    </span>
  </div>
</div>
