:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px;
}

.bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .bottom-line {
    display: flex;
    gap: 8px;
  }
}

.card {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;

  .term-block {
    align-items: baseline;
    display: flex;
    font-size: 24px;
    gap: 16px;

    .card-type {
      font-size: 14px;

      &.review {
        color: green;
      }
    }

    .term {
      color: blue;
    }

    .pos {
      color: green;
    }
  }

  .transcription,
  .freq {
    color: blue;
    font-size: 24px;
  }

  .freq {
    color: darkred;
  }

  .example,
  .definition,
  .translation {
    font-size: 24px;
  }

  .translation {
    color: green;
  }
}

.next-reviews {
  border: 1px solid gray;
  display: flex;
  font-size: 24px;

  gap: 16px;
  padding: 4px 8px;

  &.review {
    border: 1px solid darkred;
    outline: 1px solid darkred;
  }

  .normal {
    color: green;
  }

  .was-last {
    text-decoration: underline;
  }
}

.ph-verb {
  color: darkblue;
}

.lex-unit {
  color: darkred;
}

.cards-number,
.timer-counter {
  color: darkmagenta;
}

.timer-block {
  .timer-value {
    color: green;
  }
}
