<app-alphabet-bar
  [word]="ankiCard()?.fields?.term?.value || ''"
/>

@if (ankiCard()) {
  <div class="card">
    <div class="term-block">
      <div class="markers">
        <span class="hot-key-is-ready-marker" [class.hot-key-is-not-ready]="!hotKeyIsAllowed()"></span>

        <span class="loader-marker" [class.is-loading]="isLoading()"></span>
      </div>

      <span class="timer-block">
        <span class="timer-counter"> {{ timerCounter() }} </span>
        <span class="timer-value"> {{ timerTimeMin() }} </span>
      </span>

      <span class="cards-number">
        {{ learningCardsNumber() }} :
        {{ cardsNumber() - learningCardsNumber() }} :
        {{ cardsNumber() }}
      </span>

      <a class="hide-link" [href]="'http://127.0.0.1:3003/term-search?term=' + ankiCard()?.fields?.term?.value"
         target="_blank"
      >
        <span class="term" [innerHTML]="ankiCard()?.fields?.term?.value"> </span>
      </a>

      <span class="pos"> ({{ ankiCard()?.fields?.partOfSpeech?.value }}) </span>

      <span class="register-lab" [innerHTML]="ankiCard()?.fields?.registerlab?.value"> </span>

      @if (ankiCard()?.fields?.phVerb?.value || ankiCard()?.fields?.lexicalUnit?.value) {
        <div class="lex-unit">
          @if (ankiCard()?.fields?.phVerb?.value) {
            <span class="ph-verb">
              {{ ankiCard()?.fields?.phVerb?.value }}
            </span>
          }
          @if (ankiCard()?.fields?.lexicalUnit?.value) {
            <span class="lex-unit" [innerHTML]="ankiCard()?.fields?.lexicalUnit?.value"> </span>
          }
        </div>
      }
    </div>

    <div class="example" [innerHTML]="ankiCard()?.fields?.exampleText?.value"></div>

    @if (showBackSide()) {
      <div class="term-extra">
        <span class="transcription" [innerHTML]="ankiCard()?.fields?.pronunciation?.value | transcription"> </span>

        <span class="freq">
          <span> {{ ankiCard()?.fields?.freq?.value }} </span>
          <span> {{ ankiCard()?.fields?.levelTooltip?.value }} </span>
        </span>
      </div>

      <div class="definition" [innerHTML]="ankiCard()?.fields?.definition?.value"></div>

      @if (ankiCard()?.fields?.exampleTranslation?.value) {
        <div class="translation" [innerHTML]="ankiCard()?.fields?.exampleTranslation?.value"></div>
      }

      <div class="next-reviews" [class.review]="ankiCardTypes[ankiCard()?.type || 9] === 'review'">
        <span class="next-button"
              matTooltip="Again"
              (click)="answerCard(EasyFactorEnum.Again)"
              [class.was-last]="lastAnswer() === 1">
          {{ ankiCard()?.nextReviews?.[0] }}
        </span>

<!--        <span class="next-button"-->
<!--              matTooltip="Hard"-->
<!--              (click)="answerCard(EasyFactorEnum.Hard)"-->
<!--              [class.was-last]="lastAnswer() === 2">-->
<!--          {{ ankiCard()?.nextReviews?.[1] }}-->
<!--        </span>-->

<!--        <span class="next-button normal"-->
<!--              matTooltip="Normal"-->
<!--              (click)="answerCard(EasyFactorEnum.Normal)"-->
<!--              [class.was-last]="lastAnswer() === 3">-->
<!--          {{ ankiCard()?.nextReviews?.[2] }}-->
<!--        </span>-->

        <span class="next-button"
              matTooltip="Easy"
              (click)="answerCard(EasyFactorEnum.Easy)"
              [class.was-last]="lastAnswer() === 4">
          {{ ankiCard()?.nextReviews?.[3] }}
        </span>
      </div>
    }
  </div>
}

<div class="bottom">
  <div class="bottom-line">
    <a routerLink="/"> Home </a>

    <span class="hints">
      Space - show extra, 1-again, 3 - done.
      z - restore.
    </span>
  </div>
</div>
