:host {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding: 24px 24px 48px 24px;
}

.settings {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: start;
  margin-bottom: 24px;
}

.anki-request {
  display: flex;
  gap: 8px;
  width: 100%;

  .request-mat-form-field {
    flex: 1;
  }
}

.anki-result-sum {
  color: blue;
}

.tools {
  display: flex;
  gap: 8px;
}

.result-items {
  .term-header {
    background-color: antiquewhite;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
    padding: 4px;
  }

  .result-item {
    border: 1px solid darkred;
    cursor: pointer;
    margin: 16px 0;
    padding: 4px 8px;

    &.selected {
      border: 1px solid green;
      outline: 1px solid green;
    }

    .top {
      color: gray;
      font-size: 14px;

      .term {
        color: black;
        font-size: 16px;
      }

      .card-type {
        color: blue;
      }

      .transcription {
        color: green;
        margin-left: 4px;
      }

      .register-lab {
        color: darkblue;
      }

      .lex-unit,
      .ph-verb {
        color: blue;
        font-size: 16px;
        margin: 8px 0;
      }

      .ph-verb {
        color: darkorchid;
      }
    }

    .example {
      font-size: 24px;
      margin: 8px 0;
    }

    .def {
      color: gray;
      font-size: 16px;
    }

    .translation {
      color: gray;
      font-size: 14px;
      margin-top: 16px;
    }
  }
}

.request-readonly {
  border: 1px solid gray;
  padding: 4px 8px;
}

.timer-value {
  color: darkmagenta;
}
