@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: mat.$green-palette,
    typography: Roboto,
    density: 0,
  ));
}

.warning {
  @include mat.theme((
    color: mat.$red-palette,
  ));
}

html, body {
  height: 100%;
}

body {
  margin: 0;

  font-family: "Segoe UI", roboto, verdana, sans-serif;

  .error-snack {
    --mdc-snackbar-container-color: hsl(11, 79%, 57%);
  }

  .info-snack {
    --mdc-snackbar-container-color: hsl(148, 77%, 47%);
  }

  background: antiquewhite;
  background-image: url("./assets/retina-wood.png");

  .loader {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
  }
}
