@use '@angular/material' as mat;

html, body { height: 100%; }
body {
  margin: 0;

  font-family: "Segoe UI", roboto, verdana, sans-serif;

  .error-snack {
    --mdc-snackbar-container-color: hsl(11, 79%, 57%);
  }

  .info-snack {
    --mdc-snackbar-container-color: hsl(148, 77%, 47%);
  }

   [color='warn']  {
    @include mat.button-overrides((
      text-label-text-color: darkred,
    ));
  }

  [color='primary'] {
    @include mat.button-overrides((
      text-label-text-color: green,
    ));
  }

  background: antiquewhite;
  background-image: url(https://andrew2020wit.github.io/foreign-reader/assets/background/retina-wood.png);
}
